<%- include('partials/head.ejs') %>

    <h1>ABOUT</h1>
    <h2>this is about.ejs file</h2>

    <a href="/">homepage</a>
    <a href="/about">about page</a>
    <a href="/contact">contact page</a>

<%- include("partials/footer.ejs") %>